# Игнорировать папку node_modules
node_modules/

# Игнорировать сгенерированные файлы сборки
dist/
build/

# Игнорировать временные файлы
*.log
*.swp

# Игнорировать настройки среды разработки
.env
.vscode/

# Игнорировать локальные настройки
*.local
